body{
    font-family: 微软雅黑;
}
#main{
    width:1024px;
    margin:0 auto;
}
/*设置每一个瀑布流块*/
#main .pin{
    width:220px;
    height: auto;
    padding: 15px 0px 0px 15px; /*上 右 下 左*/
    float: left;
    }
/*设置每一个瀑布流块中的图像样式*/
#main .pin .box{
    width: 200px;
    height: auto;
    padding: 10px;
    background: #FFF;
    border: 1px solid #ccc;
   /* box-shadow: 0px 0px 6px #ccc;*/ 
    border-radius: 5px; 
}
#main .pin .box:hover{
    box-shadow: 0px 0px 6px #646262;   /*阴影有点深*/
    cursor: pointer;
}
#main .pin .box img{
    width: 200px;
}
#loading{
    width: 1024px;
    text-align: center;
    position: absolute;
    left: 165px;
    display: none;
}
#z-like{
    width: 200px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 19px;
}
#z-like .z-price{
    width: 10px;
    padding-left: 10px;
    font-size: 13px;

}
#z-like .z-love{
    padding-left: 82px;
    font-size: 13px;
}
.box #z-like .z-love img{
    width: 14px;
    height: 14px;
}
#z-title img{
    width: 14px !important;
    height: 14px;
}
#z-title span{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}
#z-title{   
    margin:2px 0px 2px 12px;
}
.sub-comment{
    width: 180px;
    padding-top: 10px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    padding: 18px;
    margin: auto;
}
#comment .sub-comment .who-comment span{
    color: #3b3b3b;
    font-size: 13px;
}
.who-comment{
    padding-bottom: 8px;
}
#comment .sub-comment .comment-what span{
    color: #a4a4a4;
    font-size: 12px;
}
/*#comment .comment-count p a{
    text-decoration: none;
    color:#a4a4a4;
    font-size: 12px;
}
#comment .comment-count p{
    text-align: center;
}*/

