body{
	color: white;
	padding: 0;
	margin: 0;
}

#result{
	height: 100%;
	display: block;
	background: white;
}
#result img{
	position: absolute;
	right: 0;
	top: 0;
	height: auto;
	width: 100%;
}
#go{
	margin-top: 10%;
	height: 35px;
	width: 40%;
	margin: auto;
	border: 2px solid red;
	border-radius: 30px;
	line-height: 0px;
}
#result p{
	margin-top: 121%;
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
	border-top: 5px solid red;
}
span{
	font-size: 22px;
	color: rgb(228, 58, 58);
}
#answer p{
	height: 30px;
	line-height: 17px;
	margin: 0;
}
li{
	margin-top:50px; 
}